html {
}

body {
  margin: 0;
  font-size: 14px;
  color: #555;
  -webkit-font-smoothing: antialiased;
}

body,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

div.ad-top {
  padding: 10px 20px;
  text-align: center;
  /*background: #eee;*/
  border-bottom: 1px solid #ccc;
}

a,
a:visited {
  color: #006fb5;
  text-decoration: none;
}

a:hover,
a:active {
  color: #006fb5;
  text-decoration: underline;
}

div.content {
  padding: 20px;
}

h1 {
  margin: 0 0 20px;
  font-size: 16px;
  color: #000;
}

p {
  margin: 0 0 20px;
}

table {
  text-align: left;
  border-collapse: collapse;
}

table thead tr th {
  border-bottom: 1px solid #ccc;
}

table thead tr th {
  padding: 5px 20px 10px 0;
}

table tbody tr td {
  padding: 5px 20px 5px 0;
}

table tbody tr:first-child td {
  padding-top: 10px;
}
